.split{
    height: 90%;
    width: 80%;
    position: fixed;
}
.left{
    left: -200px;
}
.right{
    right: 100px;
}
.centered {
    position:absolute;
    top: 20%;
    left: 50%;
    right:5%;
    text-align:center;
    background-color:antiquewhite;
    /*border-style: groove;*/
    z-index: 2;
}
.centered1 {
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
    /*background-color:beige;*/
    font-style: italic;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightskyblue;
}

.button{
    position: absolute;
    left:65%;
    bottom: -20%;
    background-color:beige;
}

.button2{
    position: absolute;
    left:15%;
    bottom: -20%;
    background-color:beige;
}
.h1{
    font-family:'Times New Roman', Times, serif;
}

.bg{
    border-style: groove;
    background-color: azure;
    z-index: 0;
    position:absolute;
    top:5%;
    height:90%;
    width:90%;
    left:5%;
    position:fixed;
}

.text1{
    position: absolute;
    left:10%;
    bottom: 15%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}
.text2{
    position: absolute;
    left:25%;
    bottom: 15%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}
.text3{
    position: absolute;
    left:34%;
    bottom: 15%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}
.text4{
    position: absolute;
    left:40%;
    bottom: 15%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}